{
  "trailingComma": "none",
  "arrowParens": "avoid",
  "singleQuote": true,
  "semi": false,
  "jsxSingleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cn", "cva"]
}
